@page "/counter"
@using BackgroundExecutor.Services
@inject  BackgroundExecutor executor
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge></p>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        executor.QueueAction("Increment Count",(async () =>
        {
            await Task.Delay(2000);
            currentCount++;
            await InvokeAsync(StateHasChanged);
        }));
    }
}