@page "/"

<PageTitle>Home</PageTitle>

<h1>Background Executor</h1>

<p>
    Go to the counter page and click the button to see the background executor in action. The counter will increment after a 2-second delay.
</p>